PORT=5000
JWT_SECRET=1234
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@cluster0.6zn2idm.mongodb.net/myappdb
TEST_MONGODB_URI=mongodb://localhost:27017/myappdb-test
GEMINI_API_KEY=your_api_key
DEBUG_GEMINI=false